@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
/* font-family: 'Space Mono', monospace; */

:root {
    font-size: 10px;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    --width-inputs-tip: 11rem;
    --entrada-text-color: 
}

body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: hsl(185, 41%, 84%);
}

body > p{
    display: none;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    color: rgb(241, 67, 67);
}

.box-principal{
    display: flex;
    width: 80rem;
    min-height: 40rem;
    padding: 4rem 3.5rem;
    border-radius: 2rem;
    gap: 4rem;
    box-shadow: 0px 0px 12px -5px;
    background-color: hsl(0, 0%, 100%);
}

.box-entrada{
    width: 50%;
    width: 100%;
    margin: 1rem;
    box-sizing: border-box; 
}

.span{
    display: flex;
    justify-content: space-between;
}

/*alterações gerais labels e inputs*/
label{
    display: block;
    font-size: 1.5rem;
    color: hsl(186, 14%, 43%);
}

input{
    height: 5rem;
    box-sizing: border-box; 
    background-color: hsl(189, 41%, 97%);
    border: solid 0.2rem;
    border-color: hsl(0, 0%, 100%);
    border-radius: 0.8rem;
    box-shadow: inset 0px 0px 12px -7px;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}

input:hover{
    border: solid 0.2rem;
    border-color: hsl(184, 14%, 56%);
    cursor: pointer;
}

input:active{
    border-color: hsl(172, 67%, 45%);
}

input:focus{
    border: solid 0.2rem;
    border-color: hsl(172, 67%, 45%);
}
/*alterações gerais labels e inputs*/

form > label{
    margin-bottom: 1.5rem;
}

.input-valor, .input-pessoas{
    text-align: right;
    padding: 2rem;
    width: calc(100% - 1rem) ;
    color: hsl(183, 100%, 15%);
}

.input-valor:focus, .input-pessoas:focus{
    border-color: hsl(172, 67%, 45%);
    outline: none;
}

input[type="number"]::placeholder {
    color: hsl(186, 14%, 43%);
}

input.input-valor::placeholder, input.input-pessoas::placeholder {
    font-size: 2rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  display: none;
}

img{
    position: relative;
    bottom: 3.35rem;
    left: 2rem;
}

.box-tip{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box-tip > label{
    width: 100%;
    padding-top: 1.7rem;
}

.input-porcento{
    width: var(--width-inputs-tip);
    margin-top: 1.5rem;
    color: hsl(0, 0%, 100%);
    background-color: hsl(183, 100%, 15%);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.6), inset -1px -1px 3px rgba(0, 0, 0, 0.6);
    font-size: 2.3rem;
}

.input-porcento:active{
    color: hsl(183, 100%, 15%);
    background-color: hsl(185, 41%, 84%);
}

.input-porcento:focus{
    color: hsl(183, 100%, 15%);
    background-color: hsl(185, 41%, 84%);
}

.input-porcento-customizado{
    width: var(--width-inputs-tip);
    margin-top: 1.5rem;
    text-align: right;
    padding: 0.8rem;
    color: hsl(183, 100%, 15%);
}

.input-porcento-customizado:focus{
    border-color: hsl(172, 67%, 45%);
    outline: none;
}

div + label{
    padding-top: 3.4rem;
}

.box-saida{
    width: 50%;
    width: 100%;
    padding: 4rem;
    border-radius: 2rem;
    box-sizing: border-box; 
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    background-color: hsl(183, 100%, 15%);
}

.box-gorjeta{
    display:flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.box-saida-gorjeta > h2, .box-saida-total > h2{
    font-size: 1.3rem;
    color: hsl(0, 0%, 100%);
    padding-bottom: 0.9rem;
}

.box-saida-gorjeta > h3, .box-saida-total > h3{
    font-size: 1.3rem;
    color: hsl(184, 14%, 56%);
}

.box-valor-gorjeta > p, .box-valor-total > p{
    font-size: 3.5rem;
    color: hsl(172, 67%, 45%);
}

.box-total{
    display:flex;
    justify-content: space-between;
    padding-bottom: 58%;
}

.box-botao{
    display: flex;
    align-items: center;
}

.box-botao > button{
    width: 100%;
    height: 4rem;
    border: none;
    border-radius: 1rem;
    font-family: 'Space Mono', monospace;
    font-size: 1.5rem;
    background-color: hsl(185, 41%, 84%);
    color: hsl(183, 100%, 15%);
    cursor: pointer;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.6), inset -1px -1px 3px rgba(0, 0, 0, 0.6);
}

.box-botao > button:active{
    height: 3.9rem;
    width: 99%;
}
